<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

	<link rel="dns-prefetch" href="//cdn.delargedesign.com" />
	<link rel="dns-prefetch" href="//use.typekit.net" />
	<script type="text/javascript" src="//use.typekit.net/qur3ghe.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
		<title>{{ global.title }}</title>
<meta name="description" content="{{ global.description }}">

	<!--[if lt IE 9]>
	    <script src="//cdn.jsdelivr.net/html5shiv/3.6.2/html5shiv.js"></script>
	<![endif]-->

	 {{ "screen.css" | asset_url | stylesheet_tag }}
	<!-- <link href="_/css/screen.min.css?mq8" rel="stylesheet" type="text/css" media="all"/> -->
	

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="_/img/favicon.png" />
	<meta name="google-site-verification" content="iURp0dcZjJjGx3znDxH8IyA-ebIqoyknLKFA9JM-1pI" />
	<link rel="publisher" href="https://plus.google.com/112959332931748963608/" />
	
	<meta property="og:title" content="Delarge" />
	<meta property='og:description' content='Your creative web development partner' />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://delargedesign.com" />
	<meta property="og:image" content="http://delargedesign.com/_/img/delarge-share.png" />
	<meta property="og:site_name" content="Delarge" />
		
</head>
<body class="{{ mixture.url }}">
 
 	{% include "header" %}
 	

 	{% block content %}{% endblock %}
 
 	{% include "footer" %}
 	{% include "scripts" %}

</body>
</html>