<head>
<meta charset="utf-8"/>
<link rel="dns-prefetch" href="//cdn.delargedesign.com"/>
<link rel="dns-prefetch" href="//use.typekit.net"/>
<link rel="dns-prefetch" href="//duooo52wcc4p1.cloudfront.net"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script type="text/javascript" src="//use.typekit.net/qur3ghe.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link href="/_/css/screen.min.css" rel="stylesheet" type="text/css" media="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" href="_/img/favicon.png"/>
<meta name="google-site-verification" content="iURp0dcZjJjGx3znDxH8IyA-ebIqoyknLKFA9JM-1pI"/>
<link rel="publisher" href="https://plus.google.com/112959332931748963608/"/>
<meta property="og:title" content="Delarge"/>
<meta property='og:description' content='Your creative web development partner'/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="http://delargedesign.com"/>
<meta property="og:image" content="//delargedesign.com/_/img/delarge-share.png"/>
<meta property="og:site_name" content="Delarge"/>

<link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
 <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


</head>
