/*
@import 'compass/css3';
@import "compass/utilities/general/clearfix";
*/
@import "normalize";
/* @import "foundation/components/global"; */


/*  Singularity / Breakpoint (installed via bower)
  -------------------------------------------------------- */
/* @import "../../_/bower/sassy-maps/sass/sassy-maps"; */
@import "../bower/breakpoint-sass/stylesheets/breakpoint";
@import "../bower/singularity/stylesheets/singularitygs";
@import "../bower/bourbon/dist/bourbon";

@include add-grid(2); /* Mobile first */
@include add-grid(12 at em(700));
/*
@include add-grid(9 at 40em);
@include add-grid(12 at 50em);
*/

@include add-gutter(60px);

$link: #b31f4c;
$link-hover: lighten($link, 15%);
$text: #666;

$site-width: 1140px;


/* Mixins */

@mixin wrapper($padding: em(20)){
	max-width: $site-width;
	/* min-height: 100%; */
	margin: 0 auto;
	/* @include background-grid(blue); */
	@include clearfix;
	padding-right: $padding;
	padding-left: $padding;
}


/* -- Placehodlers */

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


%wrapper {
	max-width: $site-width;
	margin: 0 auto;
	position: relative;
	padding-left: em(20);
	padding-right: em(20);
	@extend %clearfix;
}



/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;padding:20px;background: #FFF;color: #666;}

/* -------------------------------------------------------------------------------*/

::-moz-selection{background: #333; color: #fff; text-shadow: none;}
::selection {background: #333; color: #fff; text-shadow: none;}

.cf { *zoom: 1; }
.cf:before,
.cf:after{ content: " "; display: table; }
.cf:after { clear: both; }

a:link {-webkit-tap-highlight-color: #333;}

html {
	overflow-x: hidden;
}

body {
	color: $text;
}

a {
	text-decoration: none;
	color: $link;
	&:hover {
		color:$link-hover;
	}

}

p {
	line-height: 150%;
}

h1 {
	line-height: 110%;
}

.hidden {
	display: none !important;
}



@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {

 /* RETINA BITS */

}
