<div class="contact">
<ul>
<li id="_telephone4" itemprop="telephone"><i class="icon-phone"></i> +44(0)1273 251362</li>
<li><a id="_email5" itemprop="email" content="paul@delargedesign.com" href="mailto:paul@delargedesign.com"><i class="icon-mail"></i> paul@delargedesign.com</a></li>
<li><a target="_blank" href="http://twitter.com/delarge"><i class="icon-twitter"></i> @delarge</a></li>
</ul>
</div>  
</div>  