<footer role="contentinfo">
<div class="info">
<script src="//duooo52wcc4p1.cloudfront.net/js/jam-sec.js"></script>
<script>Jam.Medallion.insert({"username":"delarge","image":false,"textLabel":"Listening to"});</script>
<p>Built by hand with <a target="_blank" href="http://mixture.io/">Mixture</a>, <a target="_blank" href="http://bourbon.io/">Bourbon</a>, <a target="_blank" href="http://panic.com/coda/">Coda</a>, <a target="_blank" href="http://emmet.io/">Emmet</a> and a <a target="_blank" href="http://teamethod.co.uk/">nice cup of tea</a></p>
<p>Delarge Ltd. is a limited company registered in England and Wales<br/>
Company Registration No.&nbsp;8400887</p>
<p>Registered Office: Unit 11, Hove Business Centre Fonthill Road, Hove, East Sussex, BN3&nbsp;6HA</p>
<p><a href="https://delarge.codebasehq.com/changelog/delarge/delarge" target="_blank">Changelog</a></p>


</div>
<div class="login">
<p>
<a target="_blank" href="https://delarge.slack.com/">Client login</a>
</p>
</div>
</footer>