/* == Contact */


.contact {


	margin-top: emCalc(48);


	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-bottom: 15px;
		font-size: emCalc(14);
		
		i {
				color: $link;
			}
		
		a {
			color: $text;
			white-space: nowrap;
			&:hover {
				color: $link;
			}
			
		}
		
	}

}


/* ==== */
