/* Elements exclusive to the homepage */
/* ------------------------------------------- */


/* == Portfolio link */

.portfolio-link {
text-align: center;
}

/*
.portfolio-link {

	text-align: center;
	
	
	// Add side lines? http://codepen.io/ahmedelgabri/pen/lfjdJ	
	
	
	a {
		
		padding: emCalc(20);
		display: inline-block;
		background: #FFF;
		font-family: Georgia, Times, sans-serif;
		font-style: italic;
		color: $text;
		
		
		span {
			color: $link;
		}
		
		&:hover {
			color:$text;
			background: rgba(255,255,255,0.8);
			
			span {
				color:$link-hover;
			}
			
		}
			
	}

} 
*/