.intro {
		
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		
		h1 {

			@include text-shadow(rgba(#111, 1) 1px 1px 0);
			color: #FFF;
			margin-bottom:0;	


			@include breakpoint(max-width emCalc(767)){
				font-size: emCalc(24);			
			}
			
			@include breakpoint(emCalc(768)){
					
					@include grid-span(6);
					
					font-size: emCalc(42);
					margin: 0;			

			}
			
	
		}
		
		
		@include breakpoint(emCalc(357) emCalc(767)){
			margin: rhythm(0.75) 0;
		}	
	

		/*
@include breakpoint(emCalc(768) emCalc(996)){
			font-size: emCalc(32);
		}
*/
		
		
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		
		
		h2 {
		
			color:#CCC;
			margin: 0;

		
			@include breakpoint(max-width emCalc(767)){
				font-size: emCalc(16);			
			}
			
						
			@include breakpoint(emCalc(768)){
				margin: emCalc(10) 0 0 0;
				font-size: emCalc(20);
			}
			
			

		}

	
		
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		
}
	
	

	
	

/* ------------------------------------------- */

h1.page-header__title {

	@include breakpoint(max-width emCalc(767)){
		margin-bottom:0;
		line-height: 150%;
	}

	@include breakpoint(emCalc(768)){	
		margin-top:emCalc(15);	
	}
	


}





/* ------------------------------------------- */


/* == Showcase section */

.showcase {
	background-color: lighten(#333,6%);
	background-image: url('//duooo52wcc4p1.cloudfront.net/show-pattern-x.jpg');
	background-repeat: repeat-x;
	background-position: center top;
	margin-bottom: emCalc(40);
	
	
	> div {
		@include wrapper;
	}
	
	@include breakpoint(max-width emCalc(767)){
		padding: emCalc(10) 0 emCalc(25) 0;
	}	

	@include breakpoint(emCalc(768)){
		padding: emCalc(80) 0;
	}
}



/* == Featured project */

.featured-project {
	
	
	
	position: relative;
	
	@include breakpoint(max-width emCalc(767)){
		margin: emCalc(70) 0 emCalc(10) 0;
	}
	
	@include breakpoint(emCalc(768)){
	
		@include grid-span(6,7);
		margin: 0;
	}
	
}

.featured-project img {
	position: absolute;
	top:-37px;
	left:20%;
	@include border-radius(50%);
	
	@include breakpoint(emCalc(357) emCalc(767)){

		top: -60px;
		left: 30%;
		width: 290px;
		height: auto;
			
	}	
	
	@include breakpoint(emCalc(768)){
		top: -130px;
		left: 10%;

	}
	
	
}

.featured-project__caption {

		width: 50%;


		@include breakpoint(max-width emCalc(767)){
			margin-left: 20px;
		}
		
		@include breakpoint(emCalc(768)){
			margin:50px 0 0 0;
		}

		
		
		h2 {
			font-family: Georgia, serif;
			font-style: italic;
			font-weight: normal;
			font-size: emCalc(12);
			line-height: emCalc(18);
			color: $text;
			margin: 0;
			
			
		}
		
		h3 {
			
			font-size: emCalc(18);
			margin: 0;
			@include breakpoint(emCalc(768)){
				font-size: emCalc(22);
			}
		

		}
		
		p {
			margin: 0;
			font-size: emCalc(14);
			line-height: emCalc(34);

		}
		
		/* http://dabblet.com/gist/2994237 */
		span {
			box-shadow: -10px 0 0 10px #fff, 10px 0 0 10px #fff;
			background: #fff;			
			span {
				background: #fff;
				position:relative;
			}
			
		}

		
		> * {
			
			line-height: emCalc(38);
		}
		
}


/* == Featured work */

.featured-work {

	h4 {
		font-size: emCalc(20);
	}

}
