@import "base";
@import "icons";
@import "animate";
@import "block-grid";


html {
	background: url('//duooo52wcc4p1.cloudfront.net/soft-pattern.jpg');
/* 	-webkit-font-smoothing: antialiased; */
	}

body {
	
font-size: 110%;
background: transparent;
overflow-x: hidden;
		
		@include breakpoint(emCalc(768)){
			font-size: 100%;	
		}

}




h1,h2,h3,h4,h5 {
	color: #333;
	margin-top: 0;
}

abbr[title='and']{
font-family:Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
font-style:italic;
font-weight:normal;
line-height:inherit;
border-bottom: 0;
font-size: 1.2em;
position: relative;
top: 2px;
}




h1 {
	font-size: emCalc(42);
	font-family:  Georgia, Times, serif;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	
	
	@include breakpoint(emCalc(768)){
		font-size: emCalc(22);
		border-bottom: 0;
	}

	
}




h3 {
	font-family:  Georgia, Times, serif;
	font-style: italic;
	font-weight: normal;
	
}

h4 {
	margin-bottom: emCalc(10);
}

h5 {
	margin-top: emCalc(15);
	margin-bottom: emCalc(10);
}

p, li {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: emCalc(16);
}



address {
	font-family: Georgia, Times, serif;
	font-size: emCalc(14);
}


[role="main"]{
	@include breakpoint(emCalc(768)){
		margin-bottom: 50px;
	}
	
	> section + section {
		@extend %wrapper;
	}
}




small {
	@include breakpoint(emCalc(768)){
		margin-top: 30px;
		text-align: center;
		
		a {
			display: inline;
		}	
	}
}




/* Web fonts
------------------------------- */
@import "webfonts";


/* Header strip
------------------------------- */
@import "header";


/* Misc bits exclusive to the homepage e.g. portfolio-link
------------------------------- */
@import "homepage";


/* Showcase
------------------------------- */
/* @import "showcase"; */

/* page header
------------------------------- */
@import "page-header";


/* Work
------------------------------- */
@import "work";


/* Sidebar
------------------------------- */
@import "sidebar";



/* Contact
------------------------------- */
@import "contact";


/* Portfolio
------------------------------- */
@import "portfolio";


/* Services
------------------------------- */
@import "services";


/* Footer
------------------------------- */
@import "footer";

