{% block content %} 
	

	
	<main role="main">
	
	<section class="page-header">
		

		
		<div>

		
				
						
			<h1 class="page-header__title">Services</h1>
				
			

							
				<div class="page-header__intro">
				
					<img src="http://cl.ly/image/3M1j2a3A3O0x/services-rev.jpg" alt="Services" />
				
				
					<div class="page-header__intro__caption">
						
						<h2><span><span>Plan, build, launch, support</span></span></h2>
						<h3><span><span>Great looking websites for screens of all sizes</span></span></h3>
						
						<!-- <p><span><span>Official website for electronic music&nbsp;duo</span></span></p> -->
						<!--
<p>
							<span>
								<span><a href="http://work.delargedesign.com/royksopp">
										Read more&nbsp;<i class="genericon genericon-next"></i>
									</a></span>
							</span>
						</p>
-->
					</div><!-- page-header__intro__caption -->
					
				</div> <!-- page-header__intro -->
				


			
			
		</div><!-- row -->	
		
	</section> <!-- page-header -->
	
	
	<section>
	
		<div class="services">
		
					<ul>
						
						<li>
							<h1>Bespoke website design and&nbsp;builds</h1>
							<p>Designs planned &amp; built from scratch. Your project is taken from an initial brief and idea through to live website.</p>
						</li>	
						
						<li>
							<h1>Working with&nbsp;agencies</h1>
							<p>Need that beautiful design your team have created turned into a fully functional, responsive website? <a href="mailto:paul@delargedesign.com">Let's do it</a>.</p>
						</li>
							
						<li>
							<h1>Responsive web&nbsp;design</h1>
							<p>Websites that look great and work well on screens of all sizes. From huge desktop monitors to mobile phones.</p>
						</li>	
						
						<li>
							<h1>Customised Wordpress&nbsp;websites</h1>
							<p>From unique designs and layouts to a personalised admin area. Using the popular Wordpress system, you can easily update your website.</p>
						</li>	
						
						<li>
							<h1>Shopify expertise</h1>
							<p>A <a href="http://experts.shopify.com/delarge" target="_blank">registered Shopify expert</a>. Want to sell your products online? <a href="mailto:paul@delargedesign.com">Let's talk</a>. </p>
						</li>
						
						<li>
							<h1>HTML emails</h1>
							<p>Tailor made templates for your mailing lists and email campaigns.</p>
						</li>
						
					</ul>
				
			</div>
										
	
			<div class="sidebar">
					
				{% include "contact" %}			
			
			</div> <!-- sidebar -->
				
				
	</section>	
				<!--
	<form class="signup" action="https://tinyletter.com/delarge" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/delarge', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	                   
	                   	<label for="tlemail">Sign up for occasional<br />email&nbsp;updates</label>
	                    <p><span><input placeholder="Your email address" type="email" required name="email" id="tlemail"><input type="hidden" value="1" name="embed"><button type="submit"><i class="genericon genericon-next"></i></button>
	                    </span>
	                    </p>
	             </form>
	-->
				
				
	
			

	
	
	</main> <!-- main -->
	
	


	
{% endblock %}